@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
.header
{   display:grid;
    height:169px;
    width: 100%;
    grid-template:
    "prazno slika naslov praznok praznog"
    "prazno slika naslov praznok logout" ;
    grid-template-columns:100px 210px 1fr 150px 200px ;
    grid-template-rows:65px 65px;
}

#logopocetni{
    
    width:100vw;
    height: 130px;

    
}
#slika{
   width:170px;
   height:130px;
   grid-area:slika;
   padding-top: 10px;

   
  
    
}
#slika1{
    grid-area:slika;
}
#naslov{
    grid-area:naslov;
    text-align: center;
    align-self: center;
    font-size: 60px;
    font-weight: bold;
    color:red;
    font-family:"Lucida Handwriting";
    text-shadow: 0 0 4px black;
    

}
#logout{
    grid-area: logout;
    text-decoration:none;
    color:black;
    font: size 25px;;
}
.logopocetni
{

}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: "Poppins" , sans-serif;*/
}
:root{
    --black-color:#11101d;
    --white-color:#fff;
    --sky-color:#E4E9F7;
    --light-black:#1d1b31;
}
body{
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: auto;
}
::selection{
  color:var(--white-color);
  background: var(--black-color);
} 
.sidebar{
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:78px;
  background:var(--black-color);
  padding:6px 14px;
  z-index:99;
  transition:all 0.5s ease;
  font-family: cursive;
}
.sidebar.active{
  width:240px;
}
.sidebar .logo_content .logo{
  color:var(--white-color);
  display: flex;
  height:50px;
  width:100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition:all 0.5s ease;
}
.sidebar.active .logo_content .logo{
  opacity:1;
  pointer-events: none;
}
.logo_content .logo .logo_name{
  font-size: 20px;
  font-weight: 400;
}
.sidebar #btn{
  position:absolute;
  color:var(--white-color);
  top:6px;
  left:50%;
  font-size: 22px;
  height:50px;
  width:50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}
.sidebar.active #btn{
  left:90%;
}
.sidebar ul{
  margin-top:20px;
}
.sidebar ul li{
  position:relative;
  height:50px;
  width:100%;
  margin:5px 0;
  list-style: none;
  line-height: 50px;
}
.sidebar ul li .tooltip{
  position:absolute;
  left:125px;
  top:0;
  transform:translate(-50%, -50%);
  border-radius: 6px;
  height:35px;
  width:120px;
  background: var(--white-color);
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  transition:0s;
  opacity:0;
  pointer-events: none;
  display:block;
}
.sidebar ul li .tooltip::before{
  content:'';
  width:0;
  height:0;
  border-top:10px solid transparent;
  border-bottom:10px solid transparent;
  border-right:10px solid var(--white-color);
  position:absolute;
  left:-8px;
  top:7px;
}
.sidebar.active ul li .tooltip{
  display:none;
}
.sidebar ul li:hover .tooltip{
  transition:all 0.5s ease;
  opacity:1;
  top:50%;
}
.sidebar ul li input{
  position:absolute;
  height:100%;
  width:100%;
  left:0;
  top:0;
  border-radius: 12px;
  outline:none;
  border:none;
  background: #1d1b31;
  padding-left:50px;
  font-size: 18px;
  color:var(--white-color);
}
.sidebar ul li .bx-search{
  position:relative;
  z-index: 99;
  color:var(--white-color);
  font-size: 22px;
  transition:all 0.5s ease;
}
.sidebar ul li .bx-search:hover{
  background:var(--white-color);
  color:#1d1b31;
}
.sidebar ul li a{
  color:var(--white-color);
  display:flex;
  align-items:center;
  text-decoration: none;
  border-radius: 12px;
  white-space: nowrap;
  transition:all 0.4s ease;
}

.sidebar ul li a:hover{
  color:var(--black-color);
  background:var(--white-color);
}
.sidebar ul li i{
  font-size: 18px;
  font-weight: 400;
  height:50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}
.sidebar .links_name{
  font-size: 15px;
  font-weight: 400;
  opacity:0;
  pointer-events: none;
  transition:all 0.3s ease;
}
.sidebar.active .links_name{
  transition:0s;
  opacity:1;
  pointer-events: auto;
}
.sidebar .content{
  position:absolute;
  color:var(--white-color);
  bottom:0;
  left:0;
  width:100%;
}
.sidebar .content .user{
  position:relative;
  padding:10px 6px;
  height:60px;
  background: none;
  transition:all 0.4s ease;
}
.sidebar.active .content .user{
  background:var(--light-black);
}
.content .user .user_details{
  display:flex;
  align-items:center;
  opacity:0;
  pointer-events: none;
  white-space: nowrap;
  transition:all 0.4s ease;
}
.sidebar.active .user .user_details{
  opacity:1;
  pointer-events: auto;
}
.content .user .user_details img{
  height:45px;
  width:45px;
  object-fit: cover;
  border-radius: 12px;
}
.name_job{
  margin-left:10px;
}
 .user_details .name{
  font-size: 15px;
  font-weight: 400;
}
 .user_details .job{
  font-size: 12px; 
}
 #log_out{
  position:absolute;
  bottom:5px;
  left:50%;
  transform:translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  transition:all 0.4s ease;
}
.sidebar.active .user #log_out{
  left:80%;
  background:none;
}
.home_content{
  position:absolute;
  height:200vh;
  width:calc(100% - 78px);
  left:78px;
  background-color:white;
  padding:20px;
 
  transition:all 0.5s ease;
}
.sidebar.active ~ .home_content{
  z-index:100;
  width:calc(100% - 240px);
  left:240px;
}
.home_content .text{
  font-size: 25px;
  font-weight: 600;
  color:var(--light-black);
  margin-top:15px;
}
.home_content p{
  margin-bottom:15px;
  
}
 .sadrzaj{
  margin-top:50px;
  margin-left: 50px;
  margin-right:50px;
  background-color: white;
  height:200vh;
 } 

 #skola{
    font-size:30px;
    padding:50px;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

 }   
 #skole{
    font-family: cursive;
    font-size: 15px;
    border-radius:20px;
 } 
 #prvidio
 {
    display:flex;
 }
 #razredi{
    font-family: cursive;
    font-size: 15px;
    border-radius:20px;
 }
 #razred{
    font-size:30px;
    padding:50px;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

 }   
      
 .content {
    margin: 0px auto;
    padding: 0;
    background-color: antiquewhite;
    
    height: 500px;
    width: 100%;
    overflow: hidden;
    border: none;
    box-shadow: 20px hsl(0, 0%, 3%);
    z-index: -1;
  }
  .show {
    padding: 10%;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-style: italic;
    width: fit-content;
    font-family: "Poppins" ,sans-serif;
  }
  
  .slide_content {
    float: left;
    width: 100%;
    height: 500px;
  }
  .slides {
    width: 400%;
    -webkit-animation-name: slide;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @keyframes slide {
    20% {
      margin-left: 0px;
    }
  
    40% {
      margin-left: calc(-100% * 1);
    }
  
    60% {
      margin-left: calc(-100% * 2);
    }
  
    80% {
      margin-left: calc(-100% * 3);
    }
  }
  .slide_content:nth-child(1) {
    background: rgb(173, 240, 247);
    z-index: 1;
  }
  
  .slide_content:nth-child(2) {
    background: hsl(108, 100%, 88%);
  }
  
  .slide_content:nth-child(3) {
    background: rgb(226, 192, 192);
  }
  
  .slide_content:nth-child(4) {
    background: rgb(236, 236, 149);
  }
  
  
  #h1 {
	width: max-content;
	margin: 0 auto 1.8em;
    padding-left: 440px;
	box-shadow:
		0 2px 0 var(--accent-color),
		0 4px 0 white,
		0 6px 0 var(--accent-color);
	font: 1.4rem var(--type-quote);
	color: black;
    font-weight: bold;
    font-size:30px;
}
#h2 {
	width: max-content;
	margin: 0 auto 1.8em;
    padding-left: 440px;
	box-shadow:
		0 2px 0 var(--accent-color),
		0 4px 0 white,
		0 6px 0 var(--accent-color);
	font: 1.4rem var(--type-quote);
	color: black;
    font-weight: bold;
    font-size:30px;
}
#h3 {
	width: max-content;
	margin: 0 auto 1.8em;
    padding-left: 440px;
	box-shadow:
		0 2px 0 var(--accent-color),
		0 4px 0 white,
		0 6px 0 var(--accent-color);
	font: 1.4rem var(--type-quote);
	color: black;
    font-weight: bold;
    font-size:30px;
}
#h4 {
	width: max-content;
	margin: 0 auto 1.8em;
    padding-left: 440px;
	box-shadow:
		0 2px 0 var(--accent-color),
		0 4px 0 white,
		0 6px 0 var(--accent-color);
	font: 1.4rem var(--type-quote);
	color: black;
    font-weight: bold;
    font-size:30px;
}
blockquote {
	position: relative;
	margin: 40px 0;
	padding: 1.6em 2.4em .7em calc(1.4em + var(--quote-image-width));
	font: italic 1.2rem var(--type-quote);
	background: var(--quote-bg) no-repeat left / var(--quote-image-width);
	border-radius: var(--border-rad);
	border: 2px solid white;
	box-shadow: 2px 2px 4px rgba(123, 92, 92, 0.2);
	text-indent: 1.6em;
}

@media (min-width: 768px) {
	blockquote {
		margin: 40px 60px;
	}
}

/*blockquote::before {
	content: "";
	pointer-events: none;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border-radius: var(--border-rad);
	box-shadow:
		inset -2px -2px 1px hsl(0 0% 100%),
		inset 2px 2px 4px hsl(0 0% 0% / 20%);
}*/

blockquote::after {
	content: "❝";
	position: absolute;
	z-index: 1;
	left: 50%;
	top: -2px;
	transform: translate(-50%, -50%);
	width: 1.3em;
	height: 1.9em;
	background: white;
	box-shadow: 0 4px 5px -1px hsla(0 0% 0% / 20%);
	border-radius: 999px;
	display: grid;
	place-content: center;
	padding-top: .5em;
	color: var(--accent-color);
	font-size: 36px;
	font-style: normal;
	text-indent: 0;
}

.blockquote-author-image {
	position: absolute;
	left: 0;
	top: 0;
	width: var(--quote-image-width);
	height: 100%;
	opacity: 0.75;
	background: var(--accent-color) var(--image) no-repeat center / cover;
	background-blend-mode: hard-light;
	border-top-left-radius: var(--border-rad);
	border-bottom-left-radius: var(--border-rad);
}

cite {
	display: block;
	margin-top: 30px;
	text-indent: 0;
	text-align: center;
	font: bold .9rem var(--type-body);
	text-transform: uppercase;
	color: hsl(0 0% 20%);
}

@media (min-width: 768px) {
	cite {
		margin-left: calc(1rem - var(--quote-image-width));
	}
}

.cite-last-name {
	background: var(--accent-color);
	color: var(--quote-bg);
}
/*@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
  }
  
  @mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
  }*/
 table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
    margin: 20px;
    
}
table td {
	padding: 9px;
}
table thead td {
	background-color: #2772cf;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #54585d;
}
table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
}
table tbody tr {
	background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}

#prvatabela{
  flex-grow: 1;
}
#drugatabela{
  flex-grow: 1;
}
#trecatabela{
  flex-grow: 1;
}
.smjerovi
{
  display: flex;
  height: 35px;
  background-color: white;
  text-align: center;
}
#RIS{
  flex-grow: 1;
  
  
  
}
#TKS{
  flex-grow: 1;
  
}
#ATS{
  flex-grow: 1;
  
}
#ikonari
{
  height:35px;
  width:50px;
 
 

}#ikonatk
{
  height:35px;
  width:50px;
 
 

}
#ikonaat
{
  height:35px;
  width:50px;
 
 

}

#ri
{
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color:blue;
  

  
}
#tk
{
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color:orange;

  
}
#at
{
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color:purple;

  
}
#Showtreci{
  background-color:white;
  display: flex;
  
}
#Showprvi{
  background-color:white;
  display: flex;
  
}
#Showdrugi{
  background-color:white;
  display: flex;
 
}
#Showcetvrti{
  background-color:white;
  display:flex;
  
}
#Showpeti{
  background-color:white;
  display:flex;
  height:80vh;
}
#prvatabela_2{
  flex-grow: 1;
}
#drugatabela_2{
  flex-grow: 1;
}
#trecatabela_2{
  flex-grow: 1;
}
#prvatabela_3{
  flex-grow: 1;
}
#drugatabela_3{
  flex-grow: 1;
}
#trecatabela_3{
  flex-grow: 1;
}

#prvatabela_4{
  flex-grow: 1;
}
#drugatabela_4{
  flex-grow: 1;
}
#trecatabela_4{
  flex-grow: 1;
}
#prvatabela_5{
  flex-grow: 1;
}
#drugatabela_5{
  flex-grow: 1;
}
#trecatabela_5{
  flex-grow: 1;
}
.myDiv
{
  /*display: none;*/
  background-color: white;
}
#subjects{
  margin-bottom:0px;
  padding-left:20px;
  font-size:30px;
  letter-spacing: 1px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.subjects{
  background-color: white;
}
#odaberi{
  
  padding-left:20px;
  font-size:20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.hop {
  
  font-family: "Luckiest Guy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
 margin: 0;
 font-size: 8em;
 /*padding: 0;*/
 padding-top: 15px;
 color: white;
 grid-area:naslov;
 text-align: center;
 align-self: center;
 text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1), 0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1), 0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1), -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
}
.hop span #s {
  transform: scale(0.9);
  display: inline-block;
}
.hop span {
 transform: scale(0.9);
 display: inline-block;
}
.hop span:first-child {
 animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
   color:rgb(221, 39, 39);
}
#s {
  animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
  font-size: 1.5em;

}
.hop span:last-child {
 animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}
@keyframes bop {
 0% {
   transform: scale(0.9);
}
 50%, 100% {
   transform: scale(1);
}
}
@keyframes bopB {
 0% {
   transform: scale(0.9);
}
 80%, 100% {
   transform: scale(1) rotateZ(-3deg);
}
}
#textlinka {
  font-family: "Luckiest Guy";
  font-weight: bold;
  font-size: 25px;
  color:red;

}
#ikonica {
  width:50px;
  height:50px;
}

.naslovv{
    padding-top:10px;
   padding-left:30px; 
    margin:auto;

}
#my{
    font-size: 45px;
    color:red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }
  #clicking{
    color:black;
    font-family:cursive;
    font-size :15px;
    font-weight: bold;
    padding-left :40px;
    
  }
    #notesid{
    font-size: 45px;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }
  
  #labela{
      font-family:cursive;
      font-weight:bold;
      font-size:30px;
      padding-left:20px;
      margin-right:40px;
      
      
  }
  #upload{
      
     
      color:red;
      
  }
  input[type="submit"] {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family:cursive;
      font-size:20px;
      display:inline;
}
  input[type="file"] {

  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family:cursive;
      font-size:20px;
      display:inline;
      width:350px;
}
     input[type="submit"]:hover {
  background-color: white;
  color:red;
  padding: 10px 20px;
  border: 3px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-family:cursive;
      font-size:20px;
      display:inline;
}

#uploaded{
    
        font-family:cursive;
      font-weight:bold;
      font-size:30px;
      padding-left:20px;
      margin-right:40px;
      padding-top:15px;
      margin-bottom:20px;
}
.formica ul {
  list-style-type:decimal;
  
  margin: 20px 0;
  font-size:25px;
  font-family:cursive;
  padding-left:100px;
}
.formica a{
    text-decoration:none;
    color:black;

}
.formica a:hover{
    color:red;
    font-size:27px;
}


.formica li {
  margin: 10px 0;
 background-color:#FFFFBD;
 width:700px;
}

.formica{
display:flex;
}
.knjizurine{
        border: 2px solid black;
    width: 550px;
    margin-left: 25px;
     position: relative;
  background-color: #111;
  background-image: linear-gradient(to top, #222 5%, #111 6%, #111 7%, transparent 7%), linear-gradient(to bottom, #111 30%, transparent 30%), linear-gradient(to right, #222, #2e2e2e 5%, transparent 5%), linear-gradient(to right, transparent 6%, #222 6%, #2e2e2e 9%, transparent 9%), linear-gradient(to right, transparent 27%, #222 27%, #2e2e2e 34%, transparent 34%), linear-gradient(to right, transparent 51%, #222 51%, #2e2e2e 57%, transparent 57%), linear-gradient(to bottom, #111 35%, transparent 35%), linear-gradient(to right, transparent 42%, #222 42%, #2e2e2e 44%, transparent 44%), linear-gradient(to right, transparent 45%, #222 45%, #2e2e2e 47%, transparent 47%), linear-gradient(to right, transparent 48%, #222 48%, #2e2e2e 50%, transparent 50%), linear-gradient(to right, transparent 87%, #222 87%, #2e2e2e 91%, transparent 91%), linear-gradient(to bottom, #111 37.5%, transparent 37.5%), linear-gradient(to right, transparent 14%, #222 14%, #2e2e2e 20%, transparent 20%), linear-gradient(to bottom, #111 40%, transparent 40%), linear-gradient(to right, transparent 10%, #222 10%, #2e2e2e 13%, transparent 13%), linear-gradient(to right, transparent 21%, #222 21%, #1a1a1a 25%, transparent 25%), linear-gradient(to right, transparent 58%, #222 58%, #2e2e2e 64%, transparent 64%), linear-gradient(to right, transparent 92%, #222 92%, #2e2e2e 95%, transparent 95%), linear-gradient(to bottom, #111 48%, transparent 48%), linear-gradient(to right, transparent 96%, #222 96%, #1a1a1a 99%, transparent 99%), linear-gradient(to bottom, transparent 68.5%, transparent 76%, #111 76%, #111 77.5%, transparent 77.5%, transparent 86%, #111 86%, #111 87.5%, transparent 87.5%), linear-gradient(to right, transparent 35%, #222 35%, #2e2e2e 41%, transparent 41%), linear-gradient(to bottom, #111 68%, transparent 68%), linear-gradient(to right, transparent 78%, #333 78%, #333 80%, transparent 80%, transparent 82%, #333 82%, #333 83%, transparent 83%), linear-gradient(to right, transparent 66%, #222 66%, #2e2e2e 85%, transparent 85%);
  background-size: 300px 150px;
  background-position: center bottom;
}
.knjizurine:before {
  content: '';
 width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #111;
  background-image: linear-gradient(to top, #d2b48c 5%, #111 6%, #111 7%, transparent 7%), linear-gradient(to bottom, #111 30%, transparent 30%), linear-gradient(to right, #b22222, #871a1a 5%, transparent 5%), linear-gradient(to right, transparent 6%, #ff6347 6%, #ff3814 9%, transparent 9%), linear-gradient(to right, transparent 27%, #556b2f 27%, #39481f 34%, transparent 34%), linear-gradient(to right, transparent 51%, #fa8072 51%, #f85441 57%, transparent 57%), linear-gradient(to bottom, #111 35%, transparent 35%), linear-gradient(to right, transparent 42%, #008080 42%, #004d4d 44%, transparent 44%), linear-gradient(to right, transparent 45%, #008080 45%, #004d4d 47%, transparent 47%), linear-gradient(to right, transparent 48%, #008080 48%, #004d4d 50%, transparent 50%), linear-gradient(to right, transparent 87%, #789 87%, #4f5d6a 91%, transparent 91%), linear-gradient(to bottom, #111 37.5%, transparent 37.5%), linear-gradient(to right, transparent 14%, #bdb76b 14%, #989244 20%, transparent 20%), linear-gradient(to bottom, #111 40%, transparent 40%), linear-gradient(to right, transparent 10%, #808000 10%, #4d4d00 13%, transparent 13%), linear-gradient(to right, transparent 21%, #8b4513 21%, #5e2f0d 25%, transparent 25%), linear-gradient(to right, transparent 58%, #8b4513 58%, #5e2f0d 64%, transparent 64%), linear-gradient(to right, transparent 92%, #2f4f4f 92%, #1c2f2f 95%, transparent 95%), linear-gradient(to bottom, #111 48%, transparent 48%), linear-gradient(to right, transparent 96%, #2f4f4f 96%, #1c2f2f 99%, transparent 99%), linear-gradient(to bottom, transparent 68.5%, transparent 76%, #111 76%, #111 77.5%, transparent 77.5%, transparent 86%, #111 86%, #111 87.5%, transparent 87.5%), linear-gradient(to right, transparent 35%, #cd5c5c 35%, #bc3a3a 41%, transparent 41%), linear-gradient(to bottom, #111 68%, transparent 68%), linear-gradient(to right, transparent 78%, #bc8f8f 78%, #bc8f8f 80%, transparent 80%, transparent 82%, #bc8f8f 82%, #bc8f8f 83%, transparent 83%), linear-gradient(to right, transparent 66%, #a52a2a 66%, #7c2020 85%, transparent 85%);
  background-size: 300px 150px;
  background-position: center bottom;
  clip-path: circle(150px at center center);
  animation: flashlight 5000ms infinite;
}
.knjizurine:after {
  content: '';
  width: 25px;
  height: 10px;
  position: absolute;
  left: calc(50% + 59px);
  bottom: 100px;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle, #fff 50%, transparent 50%), radial-gradient(circle, #fff 50%, transparent 50%);
  background-size: 10px 10px;
  background-position: left center, right center;
  animation: eyes 5000ms infinite;
}
@-moz-keyframes flashlight {
  0%, 9% {
    opacity: 0;
    clip-path: circle(150px at 45% 10%);
  }
  10%, 15%, 85% {
    opacity: 1;
  }
  50% {
    clip-path: circle(150px at 60% 20%);
  }
  54%, 100% {
    clip-path: circle(150px at 55% 92%);
  }
  88%, 100% {
    opacity: 0;
  }
}
@-webkit-keyframes flashlight {
  0%, 9% {
    opacity: 0;
    clip-path: circle(150px at 45% 10%);
  }
  10%, 15%, 85% {
    opacity: 1;
  }
  50% {
    clip-path: circle(150px at 60% 20%);
  }
  54%, 100% {
    clip-path: circle(150px at 55% 92%);
  }
  88%, 100% {
    opacity: 0;
  }
}
@-o-keyframes flashlight {
  0%, 9% {
    opacity: 0;
    clip-path: circle(150px at 45% 10%);
  }
  10%, 15%, 85% {
    opacity: 1;
  }
  50% {
    clip-path: circle(150px at 60% 20%);
  }
  54%, 100% {
    clip-path: circle(150px at 55% 92%);
  }
  88%, 100% {
    opacity: 0;
  }
}
@keyframes flashlight {
  0%, 9% {
    opacity: 0;
    clip-path: circle(150px at 45% 10%);
  }
  10%, 15%, 85% {
    opacity: 1;
  }
  50% {
    clip-path: circle(150px at 60% 20%);
  }
  54%, 100% {
    clip-path: circle(150px at 55% 92%);
  }
  88%, 100% {
    opacity: 0;
  }
}
@-moz-keyframes eyes {
  0%, 52% {
    opacity: 0;
  }
  53%, 87% {
    opacity: 1;
  }
  64% {
    transform: scaleY(1);
  }
  67% {
    transform: scaleY(0);
  }
  70% {
    transform: scaleY(1);
  }
  88%, 100% {
    opacity: 0;
  }
}
@-webkit-keyframes eyes {
  0%, 52% {
    opacity: 0;
  }
  53%, 87% {
    opacity: 1;
  }
  64% {
    transform: scaleY(1);
  }
  67% {
    transform: scaleY(0);
  }
  70% {
    transform: scaleY(1);
  }
  88%, 100% {
    opacity: 0;
  }
}
@-o-keyframes eyes {
  0%, 52% {
    opacity: 0;
  }
  53%, 87% {
    opacity: 1;
  }
  64% {
    transform: scaleY(1);
  }
  67% {
    transform: scaleY(0);
  }
  70% {
    transform: scaleY(1);
  }
  88%, 100% {
    opacity: 0;
  }
}
@keyframes eyes {
  0%, 52% {
    opacity: 0;
  }
  53%, 87% {
    opacity: 1;
  }
  64% {
    transform: scaleY(1);
  }
  67% {
    transform: scaleY(0);
  }
  70% {
    transform: scaleY(1);
  }
  88%, 100% {
    opacity: 0;
  }
}