.header
{   display:grid;
    height:160px;
    width: 100%;
    grid-template:
    "prazno slika naslov praznok praznog"
    "prazno slika naslov praznok logout" ;
    grid-template-columns:100px 210px 1fr 150px 200px ;
    grid-template-rows:65px 65px;
    background-color:white;
}
#logopocetni{
    
    width:100vw;
    height: 130px;

    
}
#slika{
   width:170px;
   height:130px;
   grid-area:slika;
   padding-top: 10px;
  
    
}
#slika1{
    grid-area:slika;
}
#naslov{
    grid-area:naslov;
    text-align: center;
    align-self: center;
    font-size: 60px;
    text-shadow: 0 0 4px black;
   
    font-weight: bold;
    color:red;
    font-family:"Lucida Handwriting";
    

}
#ikonica {
  width:50px;
  height:50px;
}
#logout{
    grid-area: logout;
    text-decoration:none;
    color:black;
    font: size 25px;;
}
.logopocetni
{

}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
:root{
    --black-color:#11101d;
    --white-color:#fff;
    --sky-color:#E4E9F7;
    --light-black:#1d1b31;
}
body{
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: auto;
  
}
::selection{
  color:var(--white-color);
  background: var(--black-color);
} 
.sidebar{
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:78px;
  background:var(--black-color);
  padding:6px 14px;
  z-index:99;
  transition:all 0.5s ease;
}
.sidebar.active{
  width:240px;
}
.sidebar .logo_content .logo{
  color:var(--white-color);
  display: flex;
  height:50px;
  width:100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition:all 0.5s ease;
}
.sidebar.active .logo_content .logo{
  opacity:1;
  pointer-events: none;
}
.logo_content .logo .logo_name{
  font-size: 20px;
  font-weight: 400;
}
.sidebar #btn{
  position:absolute;
  color:var(--white-color);
  top:6px;
  left:50%;
  font-size: 22px;
  height:50px;
  width:50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}
.sidebar.active #btn{
  left:90%;
}
.sidebar ul{
  margin-top:20px;
}
.sidebar ul li{
  position:relative;
  height:50px;
  width:100%;
  margin:5px 0;
  list-style: none;
  line-height: 50px;
}
.sidebar ul li .tooltip{
  position:absolute;
  left:125px;
  top:0;
  transform:translate(-50%, -50%);
  border-radius: 6px;
  height:35px;
  width:120px;
  background: var(--white-color);
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  transition:0s;
  opacity:0;
  pointer-events: none;
  display:block;
}
.sidebar ul li .tooltip::before{
  content:'';
  width:0;
  height:0;
  border-top:10px solid transparent;
  border-bottom:10px solid transparent;
  border-right:10px solid var(--white-color);
  position:absolute;
  left:-8px;
  top:7px;
}
.sidebar.active ul li .tooltip{
  display:none;
}
.sidebar ul li:hover .tooltip{
  transition:all 0.5s ease;
  opacity:1;
  top:50%;
}
.sidebar ul li input{
  position:absolute;
  height:100%;
  width:100%;
  left:0;
  top:0;
  border-radius: 12px;
  outline:none;
  border:none;
  background: #1d1b31;
  padding-left:50px;
  font-size: 18px;
  color:var(--white-color);
}
.sidebar ul  .bx-search{
  position:relative;
  z-index: 99;
  color:var(--white-color);
  font-size: 22px;
  transition:all 0.5s ease;
}
.sidebar ul li .bx-search:hover{
  background:var(--white-color);
  color:#1d1b31;
}
.sidebar ul li a{
  color:var(--white-color);
  display:flex;
  align-items:center;
  text-decoration: none;
  border-radius: 12px;
  white-space: nowrap;
  transition:all 0.4s ease;
}

.sidebar ul li a:hover{
  color:var(--black-color);
  background:var(--white-color);
}
.sidebar ul li i{
  font-size: 18px;
  font-weight: 400;
  height:50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}
.sidebar .links_name{
  font-size: 15px;
  font-weight: 400;
  opacity:0;
  pointer-events: none;
  transition:all 0.3s ease;
}
.sidebar.active .links_name{
  transition:0s;
  opacity:1;
  pointer-events: auto;
}
.sidebar .content{
  position:absolute;
  color:var(--white-color);
  bottom:0;
  left:0;
  width:100%;
}
.sidebar .content .user{
  position:relative;
  padding:10px 6px;
  height:60px;
  background: none;
  transition:all 0.4s ease;
}
.sidebar.active .content .user{
  background:var(--light-black);
}
.content .user .user_details{
  display:flex;
  align-items:center;
  opacity:0;
  pointer-events: none;
  white-space: nowrap;
  transition:all 0.4s ease;
}
.sidebar.active .user .user_details{
  opacity:1;
  pointer-events: auto;
}
.content .user .user_details img{
  height:45px;
  width:45px;
  object-fit: cover;
  border-radius: 12px;
}
.name_job{
  margin-left:10px;
}
 .user_details .name{
  font-size: 15px;
  font-weight: 400;
}
 .user_details .job{
  font-size: 12px; 
}
 #log_out{
  position:absolute;
  bottom:5px;
  left:50%;
  transform:translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  transition:all 0.4s ease;
}
.sidebar.active .user #log_out{
  left:80%;
  background:none;
}
/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

::selection{
  color: #fff;
  background: #618cf8;
}
.naslovv{
    padding-top:50px;
   padding-left:100px; 
    margin:auto;

}
.raspored_casova{
  
  /*background-image: url("pozadina_timetable.jpg");*/
  background-repeat: no-repeat;
  background-position: top,center;
 
 
}
#sovica{
  margin:auto;
  padding-left:500px;
  
}
#my{
    font-size: 50px;
    color:red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }
  #clicking{
    color:black;
    font-family:cursive;
    font-size :15px;
    font-weight: bold;
    padding-left :90px;
    
  }
  #notesid{
    font-size: 50px;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }

  .tabela_raspored tr{
   
   
    
  }
  .tabela_raspored td{
 
    border:5px solid rgb(177, 1, 1);
    font-weight:bold;
  }
  #headtabele{
    
  }
  .raspored
  {
   
    height:80vh;
    margin-bottom: 0px;
    
  }
  .redni_brojevi{
    font-size: 20px;
  }
  .tabela_raspored{
    margin:auto;
    text-align: center;
  }
  .icon{
    display: flex;
    align-items: center;
   margin:auto;
    height: 40px;
    width: 50px;
    color: black;
    
    border-radius: 50%;
    justify-content: center;
    border: 5px dashed black;
    cursor:pointer;
  }
  li {
    list-style-type: none;
}
.tabela_raspored li:hover .icon{
    background-color:lightgreen;
}
#raspored_cijeli td:first-child {
  width: 50px; /* širina prve kolone */
}
#raspored_cijeli 
{



}
.popup-box{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
   height: 100%;
   
    width: 100%;
    background: rgba(0,0,0,0.4);
    
  }
  .settings.show .menu{
    transform: scale(1);
  }
  .popup-box .popup{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    width: 100%;
    max-width: 400px;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.95);
  }
  .popup-box, .popup{
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
  }
  .popup-box.show, .popup-box.show .popup{
    opacity: 1;
    pointer-events: auto;
  }
  .popup-box.show .popup{
    transform: translate(-50%, -50%) scale(1);
  }
  .popup .content{
    border-radius: 5px;
    background: #fff;
    width: calc(100% - 15px);
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  }











  .content header{
    padding: 15px 25px;
    border-bottom: 1px solid #ccc;
  }
  .content header p{
    font-size: 20px;
    font-weight: 500;
  }
  .content header i{
    color: #8b8989;
    cursor: pointer;
    font-size: 23px;
  }
  .content form{
    margin: 15px 25px 35px;
  }
  .content form .row{
    margin-bottom: 20px;
  }
  form .row label{
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
  }
  form :where(input, textarea){
    height: 20px;
    width: 100%;
    outline: none;
    font-size: 17px;
    font-weight: bold;
    padding: 0 15px;
    border-radius: 4px;
    border: 1px solid #999;
  }
  form :where(input, textarea):focus{
    box-shadow: 0 2px 4px rgba(0,0,0,0.11);
  }
  form .row textarea{
    height: 15px;
    resize: none;
    padding: 8px 15px;
  }
  form button{
    width: 100%;
    height: 50px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 17px;
    border-radius: 4px;
    background: #6A93F8;
    margin-bottom: 15px;
  }
  
  @media (max-width: 660px){
    .wrapper{
      margin: 15px;
      gap: 15px;
      grid-template-columns: repeat(auto-fill, 100%);
    }
    .popup-box .popup{
      max-width: calc(100% - 15px);
    }
    .bottom-content .settings i{
      font-size: 17px;
    }
  }
  #raspored_cijeli{
    padding-left:100px;
    margin:auto;
    align-self: center;
    margin-top: 20px;
   
  }
  #raspored_cijeli tr{
border: 2px solid black;
/*height: 3px !important; /* nova visina 
width: 20%*/
height:50px;

  }
  table{
    align-items:center;
    border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
    /*margin: 20px;*/
    /*width: 100%;*/
    
  }

  table td {
    padding: 4px;
    
    /*box-sizing: border-box;
    width: 20%;*/
  
   
  }
  
  table thead th {
    background-color: #2772cf;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #54585d;
   /* height:40px;*/
    
    
  }
  table tbody td {
    color: #000000;
    font-family: cursive;
    border: 1px solid #dddfe1;
    font-weight: bold;
    /*height:5px !important;*/
   
  }
  table tbody tr {
    background-color: #f9fafb;
  
    
  }
  
  table tbody tr:nth-child(odd) {
    background-color: #ffffff;
    /*height:5px;*/
  }
  @import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
  .hop {
  
    font-family: "Luckiest Guy";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
   margin: 0;
   font-size: 8em;
   /*padding: 0;*/
   padding-top: 15px;
   color: white;
   grid-area:naslov;
   text-align: center;
   align-self: center;
   text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1), 0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1), 0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1), -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
  }
  .hop span #s {
    transform: scale(0.9);
    display: inline-block;
  }
  .hop span {
   transform: scale(0.9);
   display: inline-block;
  }
  .hop span:first-child {
   animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
     color:rgb(221, 39, 39);
  }
  #s {
    animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
    font-size: 1.5em;
  
  }
  .hop span:last-child {
   animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
  }
  @keyframes bop {
   0% {
     transform: scale(0.9);
  }
   50%, 100% {
     transform: scale(1);
  }
  }
  @keyframes bopB {
   0% {
     transform: scale(0.9);
  }
   80%, 100% {
     transform: scale(1) rotateZ(-3deg);
  }
  }
  #textlinka {
    font-family: "Luckiest Guy";
    font-weight: bold;
    font-size: 25px;
    color:red;
  
  }
  #ikonica {
    width:50px;
    height:50px;
  }
  .edit{  


    
   
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    font-size: 12px;
    height: 25px;
    padding: 0px 15px;
    text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
    background: linear-gradient(92.88deg, rgb(95, 125, 190) 9.16%, rgb(36, 130, 231) 43.89%,blue);
    transition: all 0.5s ease 0s;
   
    
    
    
  }
  .edit :hover{
    box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
  }
  .save{  


    
   
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    font-size: 12px;
    height: 25px;
    padding: 0px 15px;
    text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
    background: linear-gradient(92.88deg, rgb(95, 125, 190) 9.16%, rgb(36, 130, 231) 43.89%,blue);
    transition: all 0.5s ease 0s;
   
    
    
    
  }
  .delete{  


    
   
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    font-size: 12px;
    height: 25px;
    padding: 0px 15px;
    text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
    background: linear-gradient(92.88deg, rgb(190, 95, 95) 9.16%, rgb(231, 36, 36) 43.89%,red);
    transition: all 0.5s ease 0s;
   
    
    
    
  }


  .cursor {
    height: 20px;
    left: 100%;
    margin: -20px 0 0 -20px;
    position: absolute;
    top: 100%;
    width: 20px;
    
    background-image: url(http://www.dallasjclark.com/wordpress/wp-content/uploads/2016/05/leaf.png);
    background-repeat: no-repeat;
    background-size: 20px;
  }
  
  .panda {
    bottom: 0;
    height: 220px;
    margin: 40px auto 0 auto;
    position: relative;
    width: 200px;
    
  }
  .svee{
    background-color: #94BDDE;
    margin-top: 0px;
    padding-top: 0px;
  }
  
  .panda__body {
    height: 100%;
    left: 50%;
    margin: 0 0 0 -100px;
    position: absolute;
    width: 100%;
    
    background-color: #FFFFFF;
    border-radius: 200px 200px 0 0
  }
  
  .panda__ear {
    height: 60px;
    position: absolute;
    top: 30px;
    width: 60px;
    
    background-color: #FFFFFF;
    border-radius: 100%;
  }
  
  .panda__ear--left {
    left: -20px;
  }
  
  .panda__ear--right {
    right: -20px;
  }
  
  .panda-mouth {
    height: 60px;
    left: 50%;
    margin: 0 0 0 -20px;
    position: absolute;
    top: 120px;
    width: 40px;
    
    background-color: #94BDDE;
    border-radius: 20px;
  }
  
  .panda-mouth__eyes {
    height: 10px;
    margin: -30px 0 0 0;
    position: absolute;
    top: 0;
    width: 10px;
    
    background-color: #000000;
    border-radius: 100%;
  }
  
  .panda-mouth__eyes--left {
    left: 0;
  }
  
  .panda-mouth__eyes--right {
    right: 0;
  }
  
  .panda-mouth__nose {
    height: 30px;
    left: 50%;
    margin: -10px 0 0 -15px;
    position: absolute;
    top: 0;
    width: 30px;
    
    background-color: #000000;
    border-radius: 100%;
  }
  
  .panda-mouth__highlight {
    height: 10px;
    left: 50%;
    margin: -8px 0 0 -8px;
    position: absolute;
    top: 0;
    width: 10px;
    
    background-color: #FFFFFF;
    border-radius: 100%;
  }
  
  .panda-mouth__lips {
    bottom: 14px;
    height: 3px;
    left: 50%;
    margin: 0 0 0 -7px;
    position: absolute;
    width: 14px;
    
    background-color: #000000;
    border-radius: 100%;
  }
  